<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SelectTableMapper" >
    <resultMap id="RowResultMap" type="com.example.demo.entity.select.DataTableEntity" >
        <result column="tableid" property="id" jdbcType="INTEGER" />
        <result column="id" property="rowid" jdbcType="INTEGER" />
        <result column="rowsjson" property="rowsJSON" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAllRowJson" resultMap="ResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM selecttablerow WHERE tableid=#{tableid,jdbcType=INTEGER}
    </select>

    <insert id="inesrtRowJson" parameterType="com.example.demo.entity.select.DataTableEntity" >
        INSERT INTO
        selecttablerow
        (tableid,rowsjson)
        VALUES
        (#{id}, #{rowsJSON})
    </insert>

    <update id="updateRowJson"  parameterType="com.example.demo.entity.select.DataTableEntity">
        update selecttablerow
        <set >
            <if test="rowsJSON != null" >
                rowsjson= #{rowsJSON,jdbcType= LONGVARCHAR},
            </if>
        </set>
        WHERE tableid=#{id}
    </update>

    <delete id="deleteRowByTableId"  parameterType="java.lang.Integer">
        DELETE FROM
        selecttablerow
        WHERE
        tableid =#{id}
    </delete>

</mapper>