<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SelectTableMapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.entity.select.DataTableEntity" >
        <result column="tablename" property="tablename" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="tablesymbol" property="tablesymbol" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,tablename, tablesymbol
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM selecttable
    </select>

    <insert id="insertTable" parameterType="com.example.demo.entity.select.DataTableEntity" >
        INSERT INTO
        selecttable
        (tablename,tablesymbol)
        VALUES
        (#{tablename}, #{tablesymbol})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        DELETE FROM
        selecttable
        WHERE
        id =#{id}
    </delete>

    <update id="updataById" parameterType="com.example.demo.entity.select.DataTableEntity" >
        UPDATE
        selecttable
        SET
        <if test="tablename != null">tablename = #{tablename},</if>
        <if test="tablesymbol != null">tablesymbol = #{tablesymbol}</if>
        WHERE
        id = #{id}
    </update>

</mapper>