<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="homemodel" style="display:none">
    <template id='headerbox' >
        <div>
            <el-col :span="16">
                <el-row>
                    <el-col :span="10">
                        <div style="width: 1px;height: 1px"></div>
                    </el-col>
                    <el-col :span="10">
                        <h1>{{headerTitle}}</h1>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="8" style="text-align: center">
                <el-row>
                    <el-col :span="14">
                        <span style="text-align:right;width:100%;display:inline-block;overflow: auto">123</span>
                    </el-col>
                    <el-col :span="5">
                        <a href="/usermanager">
                            <el-button type="info" plain round>用户管理</el-button>
                        </a>
                    </el-col>
                    <el-col :span="5">
                        <a href="/logout">
                            <el-button type="info" plain round>用户退出</el-button>
                        </a>
                    </el-col>
                </el-row>
            </el-col>
        </div>
    </template>
    <script>
        var header=Vue.component('headerbox',{
            template:'#headerbox',
            data(){
                return {
                    headerTitle: 'this is home'
                }
            }
        })
    </script>

    <template id="asiderbox">
        <div th:fragment="asider">
            <el-menu
                    class="el-menu-demo"
                    background-color='#545c64'
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <template v-for="e in asider">
                    <el-submenu :index="e.title" v-if="e.children">
                        <template slot="title">{{e.title}}</template>
                        <template v-for="index in e.children">
                            <el-submenu :index="index.title" v-if="index.children">
                                <template slot="title" type="primary">{{index.title}}</template>
                                <template v-for="subindex in index.children">
                                    <el-menu-item :index="subindex.title">
                                        <el-link type="primary" :href="'/'+index.url+(subindex.url?'/'+subindex.url:'')"
                                                 style="display: block">
                                            {{subindex.title}}
                                        </el-link>
                                    </el-menu-item>
                                </template>
                            </el-submenu>
                            <el-menu-item v-else>
                            <span slot="title" :index="index.title">
                                <el-link type="primary" :href="'/'+e.url+(index.url?'/'+index.url:'')"
                                         style="display: block">{{index.title}}</el-link>
                            </span>
                            </el-menu-item>
                        </template>
                    </el-submenu>
                    <el-menu-item v-else-if="e.url">
                        <span slot="title" :index="e.title">
                                <el-link type="primary" :href="e.url?'/'+e.url:''"
                                         style="display: block">{{e.title}}</el-link>
                        </span>
                    </el-menu-item>
                    <el-menu-item v-else>
                        <span slot="title" :index="e.title">{{e.title}}</span>
                    </el-menu-item>
                </template>
            </el-menu>
        </div>
    </template>
    <script>
        var asider=Vue.component('asiderbox',{
            template:'#asiderbox',
            data(){
               return {
                   asider: [{
                title: '整机计算书',
            url: "pdf", 
            children: [
                {
                    title: '稳定性校核及轮压计算书',
                    url: "pdf",
                    children: [
                        {
                            title: '下回转固定臂',
                            url: "a",
                        },
                        {
                            title: '下回转伸缩臂',
                            url: "a",
                        },
                        {
                            title: '上回转固定臂',
                            url: "a",
                        },
                        {
                            title: '双臂机',
                            url: "a",
                        },
                        {
                            title: '附墙机',
                            url: "a",
                        }
                    ]
                },
                {
                    title: '清洗周期',
                    url: "a",
                },
                {
                    title: '操作说明书',
                    url: "a",
                },
                {
                    title: '吊装方案',
                    url: "a",
                },
            ]
        },
        {
            title: '轨道埋件',
            url: "pdf",
            children: [
                {
                    title: '轨道校核计算书',
                    url: "pdf",
                    children: [
                        {
                            title: '水平轨道校核计算书',
                            url: "a",
                        },
                        {
                            title: '悬挂H/工字钢轨道校核计算书',
                            url: "a",
                        },
                        {
                            title: '菱形轨道校核计算书',
                            url: "a",
                        },
                        {
                            title: '铝合金、钢制C型轨道计算书',
                            url: "a",
                        },
                    ]
                },
                {
                    title: '抗拉埋件计算书',
                    url: "a",
                },
                {
                    title: '抗压埋件计算书',
                    url: "a",
                },
                {
                    title: '膨胀螺栓校核计算书',
                    url: "a",
                },
                {
                    title: '化学锚栓校核计算书',
                    url: "a",
                },
            ]
        },
        {
            title: '防风销座校核计算书',
            url: "pdf",
            children: [
                {
                    title: 'T型防风销座',
                    url: "a",
                },
                {
                    title: '平板型防风销座',
                    url: "a",
                },
                {
                    title: '螺栓头型防风销座',
                    url: "a",
                },
            ]
        },
        {
            title: '结构强度计算',
            url: "pdf",
            children: [
                {
                    title: '大臂强度校核计算书',
                    url: "pdf",
                    children: [
                        {
                            title: '固定臂',
                            url: "a",
                        },
                        {
                            title: '伸缩臂1+1',
                            url: "a",
                        },
                        {
                            title: '伸缩臂2+1',
                            url: "a",
                        },
                        {
                            title: '伸缩臂3+1',
                            url: "a",
                        },
                        {
                            title: '伸缩臂4+1',
                            url: "a",
                        },
                    ]
                },
                {
                    title: '立柱强度校核计算书',
                    url: "pdf",
                    children: [
                        {
                            title: '固定立柱',
                            url: "a",
                        },
                        {
                            title: '顶升立柱1+1',
                            url: "a",
                        },
                        {
                            title: '顶升立柱2+1',
                            url: "a",
                        },
                    ]
                },
                {
                    title: '结构疲劳寿命计算书',
                    url: "a",
                },
                {
                    title: '结构腐蚀寿命计算书',
                    url: "a",
                },
                {
                    title: '吊杆强度计算书',
                    url: "a",
                },
            ]
        },
        {
            title: '液压系统计算书',
            url: "pdf",
            children: [
                {
                    title: '顶升立柱液压系统计算及顶轮接触应力计算书',
                    url: "a",
                },
                {
                    title: '液压系统电机功率、油箱容积等计算',
                    url: "a",
                },
                {
                    title: '仰臂液压缸计算书',
                    url: "a",
                },
                {
                    title: '仰柱液压缸计算书',
                    url: "a",
                },
            ]
        },
        {
            title: '擦窗机配套件计算书',
            url: "pdf",
            children: [
                {
                    title: '钢丝绳安全系数校核计算书',
                    url: "a",
                },
                {
                    title: '回转电机校核计算书',
                    url: "a",
                },
                {
                    title: '回转支承校核计算书',
                    url: "a",
                },
            ]
        },
        {
            title: '成本计算书',
            url: "pdf",
            children: [
                {
                    title: '固定臂机',
                    url: "a",
                },
                {
                    title: '伸缩臂机',
                    url: "a",
                },
                {
                    title: '双臂机',
                    url: "a",
                },
                {
                    title: '附墙机',
                    url: "a",
                },
            ]
        },
        {
            title: '设计图纸',
            url: "pdf",
            children: [
                {
                    title: '底架',
                    url: "a",
                },
                {
                    title: '立柱',
                    url: "a",
                },
                {
                    title: '大臂',
                    url: "a",
                },
                {
                    title: '配重',
                    url: "a",
                },
                {
                    title: '爬梯',
                    url: "a",
                },
                {
                    title: '吊杆',
                    url: "a",
                },
                {
                    title: 'CDD吊篮',
                    url: "a",
                },
                {
                    title: '滑车',
                    url: "a",
                },
            ]
        },
        {
            title:'项目查询',
            url:'projectData',
            children:[
                {
                    title:'项目查询',
                    url:'project',

                },{
                    title:'项目导入导出',
                    url:'ImportExportProjectData',
                },{
                    title:'列定义',
                    url:'ProjectColumnDefinitionList'
                }
            ]
        },
        {
            title:'模块编辑',
            url:'dataTable',
        }
    ]
               }
            }
        })
    </script>
</div>
</body>