<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="main(pdfname)">
        <template v-if="false" id="user_manager_sys">
            <el-row>
                <el-col :span="24">
                    <el-row>
                        <el-col :span="20">
                            <main_head title="用户管理界面"></main_head>
                        </el-col>
                        <el-col :span="4">
                            <el-button style="margin-top: 10px" type="primary" @click="createUser">新建用户</el-button>
                        </el-col>
                    </el-row>
                    <br>
                </el-col>
                <el-col :span="3"><div style="font-size: 1px">1</div></el-col>
                <el-col :span="18">
                    <user_manager_table ref="userTable">
                    </user_manager_table>
                </el-col>
                <el-col :span="3"><div style="font-size: 1px">1</div></el-col>
                <new_table_dialog ref="create" key="create"  @getuseruist="getuseruist" :userlevel="userlevel"></new_table_dialog>
            </el-row>
        </template>
        <user_manager_sys></user_manager_sys>
    </div>
</body>
</html>